*{
    margin: 0;
    padding: 0;
}

body{
    background-color: maroon;
}

.container{
    min-height: 100vh;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    flex-direction: column  ;
    align-items: center;
}

.input{
    background-color: #fff;
    margin: 10px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.input::-webkit-file-upload-button{
    /* visibility: ; */
    display: none;
}

.input::before{
    content: 'Select file';
    color: black;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

#output{
    padding-top: 10px;
    width: 90%;
}

#addClearButton{
    display: none;
}

.btn{
    border: none;
    padding: 10px 20px;
    background-color: orange;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    background: transparent;
    background-color: #000;
    color: white;
    transition: ease;
}

.table{
    color: black;
    text-align: center;
    border: 1px solid black;
    width: 100%;
    font-family: 'Cascadia Code';
    background-color: rgb(223, 219, 219);
    border-collapse: collapse;
}

.table tr:nth-child(even){
    background-color: #fff;
}

.table tr:nth-child(odd){
    background-color: rgb(223, 219, 219);
}

.headRow{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table tr:first-child{
    background-color: #000;
    color: white;
}

td, th{
    border: 2px solid #999;
    padding: 10px;
}

@media only screen and (max-width: 900px){
    .container{
        width: 90%;
    }

    #output{
        width: 95%;
    }
}

@media only screen and (max-width: 768px){
    .container{
        width: 100%;
    }

    td,th{
        padding: 2px;
    }
}

